<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://hc.supconit.com/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.supconit.kqfx.web.fxzf.msg.entities.Msg">
  
   <sql id="TABLE_NAME" lang="velocity">T_MSG_INFO</sql>
  
   <resultMap type="com.supconit.kqfx.web.fxzf.msg.entities.Msg" id="MsgResultMap">
			 <result property="id" column="ID" />
			 <result property="userId" column="USERID" />
			 <result property="pid" column="PID" />
			 <result property="updateTime" column="UPDATETIME" />
			 <result property="usefuldateTime" column="USEFULDATETIME" />
			 <result property="content" column="CONTENT" />
			 <result property="flag" column="FLAG" />
	</resultMap>
  
    <select id="selectPager" lang="velocity" resultMap="MsgResultMap">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
			SELECT * FROM 
		<include refid="TABLE_NAME"/> 
		<include refid="SEARCH_CONDITION_SQL_LOG"/>
		    #order($_parameter.condition,"updateTime DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	 </select>
     
     <sql id="SEARCH_CONDITION_SQL_LOG" lang="velocity">
     <![CDATA[
		
		]]>
	</sql>
	<select id="countPager" lang="velocity" resultType="long">
		<include refid="COUNT_PRE" />
		<include refid="SEARCH_CONDITION_SQL_LOG"/>
	</select>
	<sql id="COUNT_PRE" lang="velocity">SELECT COUNT(1) FROM <include refid="TABLE_NAME"/></sql>
	
	<sql id="INSERT_SQL" lang="velocity">
		INSERT INTO <include refid="TABLE_NAME"/>(
		#if($_databaseId == 'oracle') ID,#end
								 USERID
								,PID
								,CONTENT
								,UPDATETIME
								,USEFULDATETIME
								,FLAG
		) VALUES (
		#if($_databaseId == 'oracle') @{_parameter.id,jdbcType=VARCHAR},#end
								@{_parameter.userId,jdbcType=VARCHAR}
								,@{_parameter.pid,jdbcType=VARCHAR}
								,@{_parameter.content,jdbcType=VARCHAR}
								,@{_parameter.updateTime,jdbcType=TIMESTAMP}
								,@{_parameter.usefuldateTime,jdbcType=TIMESTAMP}
								,@{_parameter.flag,jdbcType=VARCHAR}
	)
	</sql>
	
	<insert id="insert" parameterType="com.supconit.kqfx.web.fxzf.msg.entities.Msg" 
		keyProperty="ID" keyColumn="ID" 		lang="velocity" databaseId="oracle">
		  <include refid="INSERT_SQL" />
	</insert>
	<insert id="insert" parameterType="com.supconit.kqfx.web.fxzf.msg.entities.Msg" 
		keyProperty="ID" keyColumn="ID" 		 lang="velocity">
        <include refid="INSERT_SQL"/>
        <selectKey keyProperty="ID" resultType="string" order="AFTER"><include refid="_PUBLIC_V.SELECT_KEY"/> </selectKey>    </insert>
	
	<sql id="SELECT_PRE" lang="velocity">SELECT * FROM <include refid="TABLE_NAME"/></sql>
	
	<select id="getById" resultMap="MsgResultMap" parameterType="string" lang="velocity">
	<include refid="SELECT_PRE" />
			WHERE ID = @{_parameter, jdbcType=VARCHAR}
	</select>
	
	
	<select id="getByUserId" resultMap="MsgResultMap" parameterType="string" lang="velocity">
	<include refid="SELECT_PRE" />
			WHERE USERID = @{_parameter, jdbcType=VARCHAR}
			ORDER BY UPDATETIME DESC
	</select>
	
	<delete id="deleteById" parameterType="string" lang="velocity">
		DELETE FROM <include refid="TABLE_NAME" /> WHERE ID = @{_parameter,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteByUsefulDate" parameterType="com.supconit.kqfx.web.fxzf.msg.entities.Msg" lang="velocity">
		DELETE FROM <include refid="TABLE_NAME" /> 
		<![CDATA[
		   #where()
				#if($_parameter.userId && $_parameter.userId != '')
				   AND USERID = @{_parameter.userId,jdbcType=VARCHAR}
			    #end
			    #if($_parameter.usefuldateTime && $_parameter.usefuldateTime != '')
			  		 AND USEFULDATETIME < @{_parameter.usefuldateTime,jdbcType=TIMESTAMP}
		   		#end
		   #end
		]]>
	</delete>
	
	<delete id="deleteByUserId" parameterType="com.supconit.kqfx.web.fxzf.msg.entities.Msg" lang="velocity">
		DELETE FROM <include refid="TABLE_NAME" /> 
		<![CDATA[
		   #where()
				#if($_parameter.userId && $_parameter.userId != '')
				   AND USERID = @{_parameter.userId,jdbcType=VARCHAR}
			    #end
			    #if($_parameter.id && $_parameter.id != '')
			  		 AND ID = @{_parameter.id,jdbcType=VARCHAR}
		   		#end
		   #end
		]]>
	</delete>
	
	<insert id="batchInert" parameterType="java.util.List" >
		INSERT INTO <include refid="TABLE_NAME"/>
								(ID
								,USERID
								,PID
								,CONTENT
								,UPDATETIME
								,USEFULDATETIME
								,FLAG
								)
  	<foreach collection="list" item="item" index="index" separator="union all" > 
  			(select					 
  								 #{item.id,jdbcType=VARCHAR}
								,#{item.userId,jdbcType=VARCHAR}
								,#{item.pid,jdbcType=VARCHAR}
								,#{item.content,jdbcType=VARCHAR}
								,#{item.updateTime,jdbcType=TIMESTAMP}
								,#{item.usefuldateTime,jdbcType=TIMESTAMP}
								,#{item.flag,jdbcType=VARCHAR}
			from dual)
	</foreach>
	</insert>
  
  </mapper>