<!-- step -->

<div style="width: 100%">
  <form class="ui-form" name="" action="${rc.contextPath}/xtgl/zhgl/user/modifyPwd" id="password_form">
		<fieldset>
			<input type="hidden" name="id" value="$!{user.id}"></input>
			<div class="ui-form-item">
				<label class="ui-label" for="" ><span class="ui-form-required">*</span>您的账号：</label>
				  <span class="ui-text" title="$!{user.username}">
                       $!{user.username}
                    </span>  
			</div>
			<div class="ui-form-item">
				<label class="ui-label" for="" ><span class="ui-form-required">*</span>原密码：</label>
				<input class="ui-input" type="password" name="oldPwd" id="oldPwd"  data-rule="原密码:required;"/>
			</div>
			<div class="ui-form-item">
				<label class="ui-label" for="" ><span class="ui-form-required">*</span>新密码：</label>
				<input class="ui-input" type="password" id="userpassword" name="newPwd"  data-rule="新密码:required;password;"/>
			</div>
			<div class="ui-form-item">
				<label class="ui-label" for="" ><span class="ui-form-required">*</span>确认新密码：</label>
				<input class="ui-input" type="password" id="repassword"  data-rule="确认新密码:required;password;match[newPwd];"/>
			</div>
		</fieldset>
 </form>
</div>


<script language="javascript">
 
$("#userpassword").keyup(function(){
	if($("#userpassword").val().length==0 && $("#repassword").val().length==0){
		$("#repassword").attr("novalidate","true");
		$("#repassword").removeClass("n-invalid ui-input-error");
	}else{
		$("#repassword").removeAttr("novalidate");
	}
});
$("#repassword").keyup(function(){
	if($("#userpassword").val().length ==0 && $("#repassword").val().length==0){
		$("#repassword").attr("novalidate","true");
		$("#repassword").removeClass("n-invalid ui-input-error");
	}else{
		$("#repassword").removeAttr("novalidate");
	}
});
$("#repassword").blur(function(){
	if($("#userpassword").val().length ==0 && $("#repassword").val().length==0){
		$("#repassword").attr("novalidate","true");
		$("#repassword").removeClass("n-invalid ui-input-error");
	}else{
		$("#repassword").removeAttr("novalidate");
	}
});
</script>
