<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>请登录...</title>
<script type="text/javascript">
	window.location = "$!{rc.contextPath}/platform/login";
</script>
</head>
<body>
</body>
</html>
