#parse("platform/_header.vm")
<link href="$!{_platform_assets_url}/css/ztree/zTreeStyle.css" rel="stylesheet">
<script src="$!{_platform_assets_url}/js/jquery.ztree.all-3.5.min.js"></script>
</head>
<body>
<div class="ui-layout-north">
    <div class="ui-search-container">
        <form id="search_form">
           <input type="hidden" name="condition.jgbh" value="" />
			<table width="100%">
                <tr>
                    <td>
                        <table class="ui-search-table">
                            <tr>
                                <td class="ui-search-name ">人员名称：</td>
                                <td class="ui-search-c"><input name="condition.name" class="k-textbox" type="text"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="100" >
                        <button type="submit" class="hc_btn k-primary"><i class="fa fa-search"></i>查询</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="ui-layout-center">
    <div id="grid"></div>
</div>
<div class="ui-layout-west" id="department_tree_container" style="border-right:solid 1px #e1e5e6;">
    <div class="ui-layout-north">
        <div class="k-header k-grid-toolbar" style="padding-left:10px;">
            机构簇
        </div>
    </div>
    <div class="ui-layout-center">
        <ul id="tree" class="ztree"></ul>
    </div>
</div>
  
    #parse("platform/_footer.vm")
<script>
    var _iframe_layout;
	var pdlg_id="$!{pdlg_id}";
	var dlg_id = "$!{dlg_id}";
  
    $(function () {
	

        _iframe_layout = $('body').layout({
            center__maskContents: true,
            defaults: {
                resizable: false,
                closable: false,
                spacing_open: 0
            },
            center: {
                onresize_end: function () {
                    var grid = $("#grid").data("kendoGrid");
                    grid.resize();
                }
            },
            west: {
                size: 250,
                closable: true,
                spacing_open: 5
            }
        });

        $("#department_tree_container").layout({
            defaults: {
                resizable: false,
                closable: false,
                spacing_open: 0
            }
        });

        var tree = $.fn.zTree.init($("#tree"), {
            data: {
			key : {
					name : "jgmc" 
				},
                simpleData: {
                    enable: true,
                    pIdKey: "pid",
                    rootPId: 0
                }
            },
            view: {
                selectedMulti: false
            }, callback: {
                onClick: function (event, treeId, node) {
                   $("#search_form input[name='condition.jgbh']").val(node.id);
					 var grid = $("#grid").data("kendoGrid");
               		 grid.dataSource.read();
					
                }
            }
        }, $!{jgxxJson});

        tree.expandAll(true);

       	quick_datagrid("#grid", "#search_form", "$!{rc.contextPath}/xtgl/zhgl/person/select-list", [
            
			 {
                width: 50,
                headerTemplate: "选择",
                template: "<div align=\"center\"><input #:(jQuery.inArray(data.name+'',selected)>=0)?'checked':''# onclick=\"check_id(this,'#:data.rysjhm#')\" type=\"checkbox\" name=\"ids\" value=\"#:data.name  #\"></div>"
              }		
			
			,{
                field: "name",
                title: "人员名称",
                sortable: true,
                width: 150
            }, {
                field: "rysjhm",
                title: "手机号码",
                sortable: true,
                width: 150
            }, {
                field: "code",
                title: "人员编码",
                sortable: true,
                width: 150,
                hidden:true
            }, {
                field: "jgxxJgmc",
                title: "所属机构",
                width: 150
            }
			], {
             sortable: false,
			 pageable: true
        	}, {
             serverSorting: true
        	},
			[
				{
                    name: "【选择】",
                    icon: "fa fa-check-square-o",
                    onclick: function () {
						var tag=0;
						var name="";
						$.each(selectedItems, function (idx, it) {
							if(it ==null || it=="" || it=='undefined'){
								tag=1;
								name=idx;
							}     			
                     	});
						  
						if(tag==1){
							notify(name+"没有可用的手机号,请确认后选择！", "warn");
						 	return;
						} 
						if(pdlg_id !=""){
							var iframe = get_fun_in_dialog(pdlg_id);
							if(iframe != null){
								iframe.selectedSendPerson(selectedItems,"$!{input_id}");
							}
						}else{
							window.parent.frames["_main_frame"].selectedSendPerson(selectedItems,"$!{input_id}");
						}
						if(dlg_id == ""){
							close_dialog('selectSendMessageMultPerson');
						}else{
							close_dialog(dlg_id);
						}
                    }
                },
                {
                    name: "新增人员",
                    icon: "fa fa-plus",
                    onclick: function (obj, grid) {
                        var row = grid.select();
                        var pid = "";
                        if (row && row.length > 0) {
                            var data = grid.dataItem(row);
                            if (data) {
                                pid = data.id;
                            }
                        }else{
							pid=$("#jgbh").val();
						}
						
                        quick_dialog("person_add_dlg", "新增人员", "$!{rc.contextPath}/xtgl/zhgl/person/add?pdlg_id=$!{dlg_id}&dlg_id=person_add_dlg&jgbh="+pid ,690,460, obj);
                    }
                }
			
			]);

		
        $("#departmentPid").kendoComplexeSelect({
            multiple: false,
            selectClick: function (e) {
                _select_department("#departmentPid", "", false)
            },
            change: function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.dataSource.read();

                var val = this.value();
                if (val && val.length > 0) {
                    var id = val[0];
                    var node = tree.getNodeByParam("id", id, null);
                    if (node) {
                        tree.selectNode(node, false);
                    }
                }else{
                    tree.cancelSelectedNode();
                }
            }
        });

    });
	
	
	var personName="";
    var personId="";
	
	
	var selected = "";
  	if (!selected){ 
  		selected = []
	};
  	
	var selected_copy = [];
  	var selectedItems = {};
  
	for (var i = 0; i < selected.length; i++) {
    	selectedItems[selected[i]] = "";
    	selected_copy.push(selected[i]);
	}
	
	function check_id(o, id) {
		if (o.checked) {
          selectedItems[o.value] = id;
        } else {
          delete selectedItems[o.value];
        }
  	}
	
  
  	function selectMultPersonDetail(dialogid,idinput,nameinput){
  			
		var dialogid="$!{digId}";
		var idinput="$!{input_id}";
		var nameinput="$!{input_name}";
  	
		var dlg = get_dialog(dialogid);
			
		if(dlg =="" || dlg){
			var iframe = $("iframe", dlg.element[0]);
			iframe[0].contentWindow.multSelect_callback(idinput,nameinput,selectedItems);
			close_dialog('mult_select_person');
		}else{
			window.parent.frames["_main_frame"].multSelect_callback(idinput,nameinput,selectedItems);
			close_dialog('mult_select_person');
		}
	}
  
    function edited_callback() {
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
    }
    function _select_department(el, dlgId, multiple) {
        quick_dialog("auth_department_select_dlg", "选择部门", "$!{rc.contextPath}/platform/auth/department/select?el=" + encodeURIComponent(el) + "&dlgId=" + dlgId + "&multiple=" + (multiple || false), 680, 480);
    }
</script>
</body>
</html>
