@charset "utf-8";
/*CSS Document*/

/**layout样式修改**/
#container {
	height:		100%;
	min-height:	500px;					
	_height:	500px; /* min-height for IE6 */
	width:		100%;
	margin:		0 auto;
	clear:both;
}
.ui-layout-center {
	padding:10px;
}

#container .ui-layout-center {
	border:1px solid #bee6f6;
	padding:0px;
}
#container .ui-layout-east {
	border:1px solid #bee6f6;
	padding:0px;
}
.pane {
	border:none;
}
.ui-layout-resizer{
	background: none; 
}

.ui-layout-pane 
	background: #FFF; 
	border: none; 
	overflow: auto;
} 

/**无分页table样式修改**/
table {
	border-collapse: collapse;
	
}

#resultData {
	
	border-spacing: 0px;
	border: 1px solid #90d3ee;
} 
	
#resultData th {
	padding:1em 1.2em;
	background: #1f96c5;
	border-right: 1px solid #fff;
	color:#fff;
	font-size:14px;
}
#resultData th:last-child {
	border-right-width: 0px;
}
#resultData td {
	padding:1em 1.2em;
	border-right: 1px solid #b7dff0;
	border-bottom: 1px solid #b7dff0;
}

#resultData tr {
	background: #eaf8ff;
}
#resultData tr:nth-child(2n+1) td{
	background: #fff;
}

#resultData td:last-child {
	border-right-width: 0px;
}
/**datagrid样式修改**/
.k-grid-header table,
.k-grid-content table{
	border: 1px solid #90d3ee;
}

.k-grid-header th.k-header{
	background: #1f96c5;
	color: #fff;
	vertical-align: middle;
}
.k-grid-content .k-alt{
	background: #eaf8ff;
}









