#parse("platform/_header.vm")
</head>
<body>
<div class="ui-layout-north" >
		 #bread_crumbs2("XTGL_XTJS_ONLINE_USER")
</div>	
<div class="ui-layout-center">
    <div id="grid"></div>
</div>

    #parse("platform/_footer.vm")
<script>
    var _iframe_layout;
    $(function () {
        _iframe_layout = $('body').layout({
            center__maskContents: true,
            defaults: {
                resizable: false,
                closable: false,
                spacing_open: 0
            },
            center: {
                onresize_end: function () {
                    var grid = $("#grid").data("kendoGrid");
                    grid.resize();
                }
            },
            north: {size:34}
        });

        quick_datagrid("#grid", "#search_form", "$!{rc.contextPath}/xtgl/onLineUser/list", [
            {
                field: "id",
                hidden: true
        	},{
                field: "userName",
                title: "登录账户名称",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "description",
                title: "账户描述",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "email",
                title: "电子邮件",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "ryzw",
                title: "人员职务",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "name",
                title: "账户所有者",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "rysjhm",
                title: "人员手机号码",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "jgmc",
                title: "账户所在机构",
                attributes :{
                	style: "text-align: left;"
                }
            },{
                field: "ip",
                title: "登录ip地址",
                attributes :{
                	style: "text-align: left;"
                }
            }], {
             sortable: false,
			 pageable: true
        	}, {
             serverSorting: true
        	}
			);

    });
    function edited_callback() {
        var grid = get_grid("#grid");
		if(grid.dataSource){
            grid.dataSource.read();
        }else{
            $grid.data("kendoGrid").dataSource.read();
        }
    }
</script>
</body>
</html>